.card {
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    font-family: "Quicksand";
}

#fivedayforecast {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: black;
    text-align: center;
}

.current-weather {
    text-align: center;
    box-shadow: black 0px 2px 8px 0px;
    color: black;
}

.weather-map {
    text-align: center;
}

img {
    width: 50%;
    height: auto;
}

.btn {
    background-color: rgb(183, 212, 246);
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.form-input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-card {
    text-align: center;
    line-height: 20px;
}

.card {
    background-image: url("../public/photos/taylor-van-riper-yQorCngxzwI-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
}